/* Styles for the entire application container */
.App {
  text-align: center;
}
/* Styles for the application logo */
.App-logo {
  height: 40vmin; /* Sets the height of the logo to 40% of the viewport height */
  pointer-events: none; /* Disables pointer events on the logo */
}

/* Animation for the application logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Styles for the application header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
