/* FloatingButton.css */
.floating-button {
    position: fixed;
    bottom: 40px;
    left: 30px;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
}

.floating-button button {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    color: white;
}

.floating-button button img {
    width: 30px; /*size */
    height: 30px; /*size */
}
